<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página {% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='estilo.css')}}">
</head>

<body>
    <header class="menu">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
        <nav class="navegacao">
            <a href="/">Home</a>
            <a href="/quemsomos">Sobre Nós</a>
            <a href="/contatos">Contato</a>
        </nav>
    </header>

    {% block conteudo %}

    {% endblock %}

    <br>
    <hr>
    <footer class="rodape">
        <ul>
            <li><strong>ENDEREÇO: </strong>Avenida Cesare Monsueto Giulio Lattes, 1350 Distrito - Eugênio de Melo, São
                José dos Campos - SP, 12247-014</li>
            <li><strong>TELEFONE: </strong> +55 (12) 3905-4699</li>
            <li><strong>EMAIL: </strong>direcaocerta@autoescola.com.br</li>
            <br>
            <li id="copyright">&copy; 2025 Auto Escola Direção Certa. Todos os direitos reservados.</li>
        </ul>
    </footer>
</body>