{% extends 'base.html' %}

<title>Página {% block titulo %} Sobre {% endblock %}</title>

{% block conteudo %}
<div class="container">
    <div class="sobre">
        <h1 id="titulo">QUEM SOMOS?</h1>
        <p>
            Somos uma autoescola comprometida em formar condutores responsáveis, conscientes e preparados para os
            desafios do trânsito. Com uma equipe de profissionais qualificados e experientes, buscamos oferecer um
            ensino de qualidade, unindo teoria e prática de forma clara, objetiva e eficiente.
            Nosso objetivo vai além de apenas ajudar você a conquistar sua habilitação. Queremos contribuir para a
            construção de um trânsito mais seguro, formando motoristas que respeitam as leis, a vida e o próximo.
            Contamos com uma estrutura moderna, veículos revisados e métodos de ensino atualizados, sempre focados no
            aprendizado do aluno e no seu conforto durante todo o processo. Aqui, cada aluno é tratado com atenção
            individual, respeitando seu ritmo e suas necessidades.
            Seja para a primeira habilitação, mudança de categoria ou renovação, estamos prontos para te acompanhar em
            cada etapa dessa jornada. <br>
            Dirigir é uma responsabilidade — e nós estamos aqui para te preparar da melhor forma possível.

        </p>
    </div>
    <img src="/img/logo.png" alt="logo" id="quem">
</div>
{% endblock %}